language: node_js

node_js:
  - "0.12"

install:
  - npm install

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - grunt
  - grunt test
  - grunt coveralls:karma_tests